<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="fragments/file-header-fragment :: head-partial('MakTrak | Create/Edit Recipe')"></head>
<body>
<div th:replace="fragments/nav :: nav"></div>
<div class="row">
    <!--checkbox materialize, jquery select2-->
    <div th:if="${mode == 'add'}">
        <div th:if="${redirect == 'macroCreate'}">
            <form th:action="@{/macro/create/recipe/create}" method="post" th:object="${recipe}" class="col s10 offset-s1">
                <div class="row">
                    <div class="col s12 center-align">
                        <h1>Add a Recipe</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <div class="input-field">
                            <input id="title" type="text" class="validate" th:field="*{title}"/>
                            <label for="title">Recipe Title</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <div class="input-field">
                            <input id="prep-time" type="text" class="validate" th:field="*{minsToPrep}"/>
                            <label for="prep-time">Minutes of Prep Time</label>
                        </div>
                    </div>
                    <div class="col s6">
                        <div class="input-field">
                            <input id="num-servings" type="text" class="validate" name="num-servings"/>
                            <label for="num-servings">Servings this recipe makes</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <a th:href="@{/recipe/create/food-item/create}" class="waves-effect waves-light btn">Add a Food Item</a>
                        <table class="highlight">
                            <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Cal (kcal)</th>
                                <th>Fat (g)</th>
                                <th>Carb (g)</th>
                                <th>Prot (g)</th>
                                <th>Fiber (g)</th>
                                <th>(g) Per Serving</th>
                                <th>Servings</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item : ${items}">
                                <td th:text="${item.name}" class="truncate"></td>
                                <td th:text="${item.cal}"></td>
                                <td th:text="${item.fat}"></td>
                                <td th:text="${item.carb}"></td>
                                <td th:text="${item.prot}"></td>
                                <td th:text="${item.fiber}"></td>
                                <td th:text="${item.servingSizeInGrams}"></td>
                                <td>
                                    <input type="text" th:id="${'amount'+item.id}" name="itemQuantity" value="0"/>
                                    <label th:for="${'amount'+item.id}"></label>
                                </td>
                                <input type="hidden" name="itemIds" th:value="${item.id}"/>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Add Seach Here -->
                <div class="row">
                    <div class="col s12 input-field">
                        <textarea id="instructions" class="materialize-textarea" th:field="*{description}"></textarea>
                        <label for="instructions">Cooking Instructions</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                    <div class="col s6">
                        <a href="/macro/create" class="btn waves-effect waves-light orange darken-2">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
        <div th:if="${redirect == 'macroEdit'}">
            <form th:action="@{/macro/edit/recipe/create}" method="post" th:object="${recipe}" class="col s10 offset-s1">
                <input type="hidden" name="macroId" th:value="${macroId}"/>
                <div class="row">
                    <div class="col s12 center-align">
                        <h1>Add a Recipe</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <div class="input-field">
                            <input id="title" type="text" class="validate" th:field="*{title}"/>
                            <label for="title">Recipe Title</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <div class="input-field">
                            <input id="prep-time" type="text" class="validate" th:field="*{minsToPrep}"/>
                            <label for="prep-time">Minutes of Prep Time</label>
                        </div>
                    </div>
                    <div class="col s6">
                        <div class="input-field">
                            <input id="num-servings" type="text" class="validate" name="num-servings"/>
                            <label for="num-servings">Servings this recipe makes</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <a th:href="@{/recipe/create/food-item/create}" class="waves-effect waves-light btn">Add a Food Item</a>
                        <table class="highlight">
                            <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Cal (kcal)</th>
                                <th>Fat (g)</th>
                                <th>Carb (g)</th>
                                <th>Prot (g)</th>
                                <th>Fiber (g)</th>
                                <th>(g) Per Serving</th>
                                <th>Servings</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item : ${items}">
                                <td th:text="${item.name}" class="truncate"></td>
                                <td th:text="${item.cal}"></td>
                                <td th:text="${item.fat}"></td>
                                <td th:text="${item.carb}"></td>
                                <td th:text="${item.prot}"></td>
                                <td th:text="${item.fiber}"></td>
                                <td th:text="${item.servingSizeInGrams}"></td>
                                <td>
                                    <input type="text" th:id="${'amount'+item.id}" name="itemQuantity" value="0"/>
                                    <label th:for="${'amount'+item.id}"></label>
                                </td>
                                <input type="hidden" name="itemIds" th:value="${item.id}"/>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Add Seach Here -->
                <div class="row">
                    <div class="col s12 input-field">
                        <textarea id="instructions" class="materialize-textarea" th:field="*{description}"></textarea>
                        <label for="instructions">Cooking Instructions</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                    <div class="col s6">
                        <a th:href="@{/macro/edit/{id}(id=${macroId})}" class="btn waves-effect waves-light orange darken-2">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
        <div th:if="${redirect == 'none'}">
            <form th:action="@{/recipe/create}" method="post" th:object="${recipe}" class="col s10 offset-s1">
                <div class="row">
                    <div class="col s12 center-align">
                        <h1>Add a Recipe</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <div class="input-field">
                            <input id="title" type="text" class="validate" th:field="*{title}"/>
                            <label for="title">Recipe Title</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <div class="input-field">
                            <input id="prep-time" type="text" class="validate" th:field="*{minsToPrep}"/>
                            <label for="prep-time">Minutes of Prep Time</label>
                        </div>
                    </div>
                    <div class="col s6">
                        <div class="input-field">
                            <input id="num-servings" type="text" class="validate" name="num-servings"/>
                            <label for="num-servings">Servings this recipe makes</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <a th:href="@{/recipe/create/food-item/create}" class="waves-effect waves-light btn">Add a Food Item</a>
                        <table class="highlight">
                            <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Cal (kcal)</th>
                                <th>Fat (g)</th>
                                <th>Carb (g)</th>
                                <th>Prot (g)</th>
                                <th>Fiber (g)</th>
                                <th>(g) Per Serving</th>
                                <th>Servings</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item : ${items}">
                                <td th:text="${item.name}" class="truncate"></td>
                                <td th:text="${item.cal}"></td>
                                <td th:text="${item.fat}"></td>
                                <td th:text="${item.carb}"></td>
                                <td th:text="${item.prot}"></td>
                                <td th:text="${item.fiber}"></td>
                                <td th:text="${item.servingSizeInGrams}"></td>
                                <td>
                                    <input type="text" th:id="${'amount'+item.id}" name="itemQuantity" value="0"/>
                                    <label th:for="${'amount'+item.id}"></label>
                                </td>
                                <input type="hidden" name="itemIds" th:value="${item.id}"/>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Add Seach Here -->
                <div class="row">
                    <div class="col s12 input-field">
                        <textarea id="instructions" class="materialize-textarea" th:field="*{description}"></textarea>
                        <label for="instructions">Cooking Instructions</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                    <div class="col s6">
                        <a th:href="@{/recipe/inventory}" class="btn waves-effect waves-light orange darken-2">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div th:if="${mode == 'edit'}">
        <form th:action="@{/recipe/edit/{id}(id=${recipe.id})}" method="post" th:object="${recipe}" class="col s10 offset-s1">
            <input id="id" type="hidden" th:field="*{id}"/>
            <div class="row">
                <div class="col s12 center-align">
                    <h1>Edit a Recipe</h1>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="input-field">
                        <input id="title" type="text" class="validate" required="" aria-required="true" th:field="*{title}"/>
                        <label for="title">Recipe Title</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <div class="input-field">
                        <input id="prep-time" type="text" class="validate" required="" aria-required="true" th:field="*{minsToPrep}"/>
                        <label for="prep-time">Minutes of Prep Time</label>
                    </div>
                </div>
                <div class="col s6">
                    <div class="input-field">
                        <input id="num-servings" type="text" class="validate" required="" aria-required="true" name="num-servings" value="1"/>
                        <label for="num-servings">Servings this recipe makes</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <a th:href="@{/recipe/edit/{id}/food-item/create(id=*{id})}" class="waves-effect waves-light btn">Add a Food Item</a>
                    <table class="highlight">
                        <thead>
                        <tr>
                            <th>Item Name</th>
                            <th>Cal (kcal)</th>
                            <th>Fat (g)</th>
                            <th>Carb (g)</th>
                            <th>Prot (g)</th>
                            <th>Fiber (g)</th>
                            <th>(g) Per Serving</th>
                            <th>Servings</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="recItem : ${itemsInRecipe}">
                            <td th:text="${recItem.item.name}" class="truncate"></td>
                            <td th:text="${recItem.item.cal}"></td>
                            <td th:text="${recItem.item.fat}"></td>
                            <td th:text="${recItem.item.carb}"></td>
                            <td th:text="${recItem.item.prot}"></td>
                            <td th:text="${recItem.item.fiber}"></td>
                            <td th:text="${recItem.item.servingSizeInGrams}"></td>
                            <td>
                                <input type="text" th:id="${'amount'+recItem.item.id}" name="itemQuantity" required="" aria-required="true" th:value="${recItem.quantityInGrams}"/>
                                <label th:for="${'amount'+recItem.item.id}"></label>
                            </td>
                            <input type="hidden" name="itemIds" th:value="${recItem.item.id}"/>
                        </tr>
                        <tr th:each="item : ${itemsNotInRecipe}">
                            <td th:text="${item.name}" class="truncate"></td>
                            <td th:text="${item.cal}"></td>
                            <td th:text="${item.fat}"></td>
                            <td th:text="${item.carb}"></td>
                            <td th:text="${item.prot}"></td>
                            <td th:text="${item.fiber}"></td>
                            <td th:text="${item.servingSizeInGrams}"></td>
                            <td>
                                <input type="text" required="" aria-required="true" th:id="${'amount'+item.id}" name="itemQuantity" value="0"/>
                                <label th:for="${'amount'+item.id}"></label>
                            </td>
                            <input type="hidden" name="itemIds" th:value="${item.id}"/>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Add Seach Here -->
            <div class="row">
                <div class="col s12 input-field">
                    <textarea id="instructions" class="materialize-textarea" th:field="*{description}"></textarea>
                    <label for="instructions">Cooking Instructions</label>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>
                <div class="col s6">
                    <a th:href="@{/recipe/inventory}" class="btn waves-effect waves-light orange darken-2">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/js-footer-fragment :: js-partial"></div>
</body>
</html>