<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="fragments/file-header-fragment :: head-partial('Recipe Inventory')"></head>
<body>
<div th:replace="fragments/nav :: nav"></div>
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br/><br/>
            <h1 class="center-align">Your Recipes</h1>
            <p class="center-align">Below is a list of your current recipes</p>
            <br /><br/>
        </div>
    </div>
    <div class="parallax img_overlay"><img src="/img/recipe.png" alt="home food"/></div>
</div>

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12">
                <h3 class="center-align">Search your recipes</h3>
            </div>
        </div>

        <div class="row"><!-- search field -->
            <form class="col s12">
                <div class="input-field">
                    <input id="search-criteria" type="search" class="center-align" required="required" />
                    <label class="label-icon" for="search-criteria"><i class="material-icons">search</i></label>
                </div>
            </form>
        </div>

        <br/>
        <br/>
        <div class="row">
            <div class="col s12">
                <h3 class="center-align">Your current recipes</h3>
                <p class="center-align">You can scroll through your recipes items below, you can also add a new food item <below class=""></below></p>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m4 offset-m4 center-align">
                <a th:href="@{/recipe/create}" class="waves-effect waves-light btn"><i class="material-icons right">add</i>Add Recipe</a>
            </div>
        </div>
        <div class="row scrolling-wrapper-food-item card-scroll center-panel">
            <div th:each="recView : ${recViews}">
                <div class="col s12">
                    <div class="card card-panel hoverable blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title" th:text="${recView.title}"></span>
                            <table>
                                <thead>
                                <tr>
                                    <th>Cal (kcal)</th>
                                    <th>Fat (g)</th>
                                    <th>Carb (g)</th>
                                    <th>Prot (g)</th>
                                    <th>Fiber (g)</th>
                                    <th>Servings</th>
                                </tr>
                                </thead>
                                <tbody class="min-table">
                                <tr>
                                    <td th:text="${recView.getTotalCal()}"></td>
                                    <td th:text="${recView.getTotalFat()}"></td>
                                    <td th:text="${recView.getTotalFat()}"></td>
                                    <td th:text="${recView.getTotalProt()}"></td>
                                    <td th:text="${recView.getTotalFiber()}"></td>
                                    <td>1</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="col s12 m6">
                                    <ul>
                                        <li><h3>Ingredients</h3></li>
                                        <div th:each="item : ${recView.items}">
                                            <li th:text="${item.name}"></li>
                                        </div>
                                    </ul>
                                </div>
                                <div class="col s12 m6">
                                    <ul>
                                        <li><h3>Instructions</h3></li>
                                        <li th:text="${recView.description}"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-action">
                            <a  th:href="@{/recipe/edit/{id}(id=${recView.id})}">Edit</a>
                            <form th:action="@{/recipe/delete/{id}(id=${recView.id})}" method="post">
                                <button class="waves-effect waves-teal btn-flat">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m3 center-align">
                <a th:href="@{/recipe/create}" class="waves-effect waves-light btn"><i class="material-icons right">add</i>Add Recipe</a>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/js-footer-fragment :: js-partial"></div>
</body>
</html>