<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="fragments/file-header-fragment :: head-partial('Macro Page')"></head>
<body>
<div th:replace="fragments/nav :: nav"></div>

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br/><br/>
            <h1 class="center-align">Your Macros</h1>
            <p class="center-align">Below edit or view your macros</p>
            <br /><br/>
        </div>
    </div>
    <div class="parallax img_overlay"><img src="/img/hero-macro.png" alt="home food"/></div>
</div>

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12">
                <h3 class="center-align">Search your macros</h3>
            </div>
        </div>
        <div class="row">
            <form class="col s12">
                <div class="input-field">
                    <input id="search" type="search" class="center-align" required="required" />
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                </div>
            </form>
        </div>
        <br/>
        <br/>
        <div class="row">
            <div class="col s12">
                <h3 class="center-align">Your current macros</h3>
                <p class="center-align">You can scroll through your macro items below, you can also add a new macro goal<below class=""></below></p>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m4 offset-m4 center-align">
                <a th:href="@{/recipe/create}" class="waves-effect waves-light btn"><i class="material-icons right">add</i>Add Recipe</a>
            </div>
        </div>
        <div class="row scrolling-wrapper-food-item card-scroll">
            <div class="row scrolling-wrapper-food-item card-scroll">
                <div class="col s12">
                    <div class="card card-panel hoverable blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">More Chicken!</span>
                            <table class="highlight">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Cal (kcal)</th>
                                    <th>Fat (g)</th>
                                    <th>Carb (g)</th>
                                    <th>Prot (g)</th>
                                    <th>Fiber (g)</th>
                                    <th>Servings</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="item : ${items}">
                                    <td>Goals</td>
                                    <td th:text="${item.name}" class="truncate"></td>
                                    <td th:text="${item.cal}"></td>
                                    <td th:text="${item.fat}"></td>
                                    <td th:text="${item.carb}"></td>
                                    <td th:text="${item.prot}"></td>
                                    <td th:text="${item.fiber}"></td>
                                    <td th:text="${item.servingSizeInGrams}"></td>
                                    <td>
                                        <input type="text" th:id="${'amount'+item.id}" name="itemQuantity" value="0"/>
                                        <label th:for="${'amount'+item.id}"></label>
                                    </td>
                                    <input type="hidden" name="itemIds" th:value="${item.id}"/>
                                </tr>

                                    <tr th:each="item : ${items}">
                                        <td>Total</td>
                                        <td th:text="${item.name}" class="truncate"></td>
                                        <td th:text="${item.cal}"></td>
                                        <td th:text="${item.fat}"></td>
                                        <td th:text="${item.carb}"></td>
                                        <td th:text="${item.prot}"></td>
                                        <td th:text="${item.fiber}"></td>
                                        <td th:text="${item.servingSizeInGrams}"></td>
                                        <td>
                                            <input type="text" th:id="${'amount'+item.id}" name="itemQuantity" value="0"/>
                                            <label th:for="${'amount'+item.id}"></label>
                                        </td>
                                        <input type="hidden" name="itemIds" th:value="${item.id}"/>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="col s12 m6">
                                    <ul>
                                        <li><h3>Item</h3></li>
                                        <li>Chicken</li>
                                        <li>Rice</li>
                                        <li>Baby Spinach</li>
                                        <li>Carrots</li>
                                    </ul>
                                </div>
                                <div class="col s12 m6">
                                    <ul>
                                        <li><h3>Missing Item</h3></li>
                                        <li>Boil water</li>
                                        <li>Add Salt</li>
                                        <li>Heat pan</li>
                                        <li>Cook the chicken</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-action">
                            <a href="#">Edit</a>
                            <a href="#">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
            <div th:each="recView : ${recViews}">
                <div class="col s12">
                    <div class="card card-panel hoverable blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title" th:text="${recView.title}"></span>
                            <table>
                                <thead>
                                <tr>
                                    <th>Cal (kcal)</th>
                                    <th>Fat (g)</th>
                                    <th>Carb (g)</th>
                                    <th>Prot (g)</th>
                                    <th>Fiber (g)</th>
                                    <th>Servings</th>
                                </tr>
                                </thead>
                                <tbody class="min-table">
                                <tr>
                                    <td th:text="${recView.getTotalCal()}"></td>
                                    <td th:text="${recView.getTotalFat()}"></td>
                                    <td th:text="${recView.getTotalFat()}"></td>
                                    <td th:text="${recView.getTotalProt()}"></td>
                                    <td th:text="${recView.getTotalFiber()}"></td>
                                    <td>1</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="col s12 m6">
                                    <ul>
                                        <li><h3>Ingredients</h3></li>
                                        <div th:each="item : ${recView.items}">
                                            <li th:text="${item.name}"></li>
                                        </div>
                                    </ul>
                                </div>
                                <div class="col s12 m6">
                                    <ul>
                                        <li><h3>Instructions</h3></li>
                                        <li th:text="${recView.description}"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-action">
                            <a  th:href="@{/recipe/edit/{id}(id=${recView.id})}">Edit</a>
                            <form th:action="@{/recipe/delete/{id}(id=${recView.id})}" method="post">
                                <button class="waves-effect waves-teal btn-flat">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m3 center-align">
                <a th:href="@{/recipe/create}" class="waves-effect waves-light btn"><i class="material-icons right">add</i>Add Recipe</a>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/js-footer-fragment :: js-partial"></div>
</body>
</html>