<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="fragments/file-header-fragment :: head-partial('Your Macro Routines')"></head>
<body>
<div th:replace="fragments/nav :: nav"></div>

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br/><br/>
            <h1 class="center-align">Your Macros</h1>
            <p class="center-align">Below edit or view your macros</p>
            <br /><br/>
        </div>
    </div>
    <div class="parallax img_overlay"><img src="/img/hero-macro.png" alt="home food"/></div>
</div>

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12">
                <h3 class="center-align">Search your macros</h3>
            </div>
        </div>

        <div class="row"><!-- search field -->
            <form class="col s12">
                <div class="input-field">
                    <input id="search-criteria" type="search" class="center-align" required="required" />
                    <label class="label-icon" for="search-criteria"><i class="material-icons">search</i></label>
                </div>
            </form>
        </div>

        <br/>
        <br/>
        <div class="row">
            <div class="col s12">
                <h3 class="center-align">Your current macros</h3>
                <p class="center-align">You can scroll through your macro items below, you can also add a new macro goal<below class=""></below></p>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m4 offset-m4 center-align">
                <a th:href="@{/macro/create}" class="waves-effect waves-light btn"><i class="material-icons right">add</i>Add Macro</a>
            </div>
        </div>
        <div class="row scrolling-wrapper-food-item card-scroll center-panel">
            <div th:each="macView : ${macViews}">
                <div class="col s12">
                    <div class="card card-panel hoverable blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title" th:text="${macView.macroName}"></span>
                            <table>
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Cal (kcal)</th>
                                    <th>Fat (g)</th>
                                    <th>Carb (g)</th>
                                    <th>Prot (g)</th>
                                    <th>Fiber (g)</th>
                                </tr>
                                </thead>
                                <tbody class="min-table">
                                <tr>
                                    <td>Goals</td>
                                    <td th:text="${macView.calGoals}"></td>
                                    <td th:text="${macView.fatGoals}"></td>
                                    <td th:text="${macView.carbGoals}"></td>
                                    <td th:text="${macView.protGoals}"></td>
                                    <td th:text="${macView.fiberGoals}"></td>
                                </tr>
                                <tr>
                                    <td>Total</td>
                                    <td th:text="${macView.calTotal}"></td>
                                    <td th:text="${macView.fatTotal}"></td>
                                    <td th:text="${macView.carbTotal}"></td>
                                    <td th:text="${macView.protTotal}"></td>
                                    <td th:text="${macView.fiberTotal}"></td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="col s12 m6">
                                    <h3>Items</h3>
                                    <div class="row">
                                        <div class="col s6 left-align">
                                            <ul>
                                                <div th:each="item : ${macView.itemNames}">
                                                    <li th:text="${item}"></li>
                                                </div>
                                            </ul>
                                        </div>
                                        <div class="col s6 left-align">
                                            <ul>
                                                <div th:each="servings : ${macView.itemServings}">
                                                    <li th:text="${servings+' servings'}"></li>
                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 m6">
                                    <h3>Missing Items</h3>
                                    <div class="row">
                                        <div class="col s6 left-align">
                                            <ul>
                                                <div th:each="item : ${macView.missingItemNames}">
                                                    <li th:text="${item}"></li>
                                                </div>
                                            </ul>
                                        </div>
                                        <div class="col s6 left-align">
                                            <ul>
                                                <div th:each="grams : ${macView.missingItemGrams}">
                                                    <li th:text="${'Need '+grams+'g'}"></li>
                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-action">
                            <a th:href="@{/macro/edit/{id}(id=${macView.macroId})}">Edit</a>
                            <form th:action="@{/macro/delete}" method="post" class="right-delete">
                                <input type="hidden" name="macroId" th:value="${macView.macroId}"/>
                                <button class="waves-effect waves-teal btn-flat red-delete">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/js-footer-fragment :: js-partial"></div>
</body>
</html>