<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
    <!--<div th:fragment="footer" class="blog-footer text-center">-->
        <!--<p>Blog Built by <a href="https://titovaliente.com">Tito Valiente</a>.</p>-->
        <!--<a href="#">Back to top</a>-->
    <!--</div>-->



    <footer class="page-footer teal">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">MakTrak</h5>
                    <p class="grey-text text-lighten-4">We are a team of three from Codeup.</p>


                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Settings</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Login</a></li>
                        <li><a class="white-text" href="#!">Register</a></li>
                        <li><a class="white-text" href="#!">About</a></li>
                        <li><a class="white-text" href="#!">Careers</a></li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Connect</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Facebook</a></li>
                        <li><a class="white-text" href="#!">Linkedin</a></li>
                        <li><a class="white-text" href="#!">Twitter</a></li>
                        <li><a class="white-text" href="#!">Codeup</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="brown-text text-lighten-3" href="http://maktrak.co">MakTrak</a>
            </div>
        </div>
    </footer>
</body>
</html>