<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>

    <!--<div th:fragment="nav">-->
    <nav th:fragment="nav" class="white" role="navigation">

        <div class="nav-wrapper container">
            <a id="logo-container" href="/" class="brand-logo">  <img class="logo" src="/img/nav.svg"/></a>
            <ul class="right hide-on-med-and-down">
                <!-- Login Modal Structure -->
                <div id="modal1" class="modal">
                    <div class="modal-content">
                        <div class="container">
                            <div class="section">
                                <div class="row">
                                    <div class="col s12 m12">
                                        <h4>Log In</h4>

                                        <div th:if="${param.error}">
                                            Invalid Username and Password.
                                        </div>
                                        <div th:if="${param.logout}">
                                            You have been logged out.
                                        </div>

                                            <form th:action="@{/login}" method="post">
                                                <div class="input-field">
                                                    <input placeholder="Enter Username" id="username" name="username" type="text" />
                                                    <label for="username">Username</label>
                                                </div>
                                                <div class="input-field">
                                                    <input placeholder="Enter Password" id="password" name="password" type="password" />
                                                    <label for="password">Password</label>
                                                </div>
                                                <input type="submit" class="modal-action modal-close btn-flat" value="Log In" />
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- end of modal -->

                <!--Register Modal Structure -->
                <div id="modal2" class="modal">
                    <div class="modal-content">
                        <div class="container">
                            <div class="section">
                                <div class="row">
                                    <div class="col s12 m12">
                                        <h4>Register</h4>

                                        <div th:if="${param.error}">
                                            Invalid Username and Password.
                                        </div>
                                        <div th:if="${param.logout}">
                                            You have been logged out.
                                        </div>

                                        <form th:action="@{/sign-up}" method="POST">
                                            <label for="usernameReg">Username</label>
                                            <input id="usernameReg" name="username" />

                                            <label for="email">Email</label>
                                            <input id="email" name="email" />

                                            <!--<label for="firstname">Firstname</label>-->
                                            <!--<input id="firstname" name="firstName"/>-->

                                            <!--<label for="lastname">Lastname</label>-->
                                            <!--<input id="lastname" name="lastName"/>-->

                                            <label for="passwordReg">Password</label>
                                            <input id="passwordReg" type="password" name="password" />


                                            <input value="Register" class="modal-action modal-close btn-flat" type="submit" />
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- end of modal -->

                <li sec:authorize="!isAuthenticated()"><a class="waves-effect waves-light modal-trigger" href="#modal1">Login</a></li>
                <li sec:authorize="isAnonymous()"><a class="waves-effect waves-light modal-trigger" href="#modal2">Register</a></li>
                <li sec:authorize="isAuthenticated()"><a class="waves-effect waves-light" th:href="@{/dashboard}">Dashboard</a></li>
                <li><a sec:authorize="isAuthenticated()" th:href="@{/food-item/inventory}" class="modal-trigger modal-close">Food Items</a></li>
                <li><a sec:authorize="isAuthenticated()" th:href="@{/recipe/inventory}" class="modal-trigger modal-close">Recipes</a></li>

                <!--<li sec:authorize="!isAuthenticated()">-->
                    <!--<a href="/login">Login</a>-->
                <!--</li>-->
                <!--<li sec:authorize="isAnonymous()">-->
                    <!--<a th:href="@{/sign-up}">Register</a>-->
                <!--</li>-->

                <li sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" th:method="post">
                        <button class="btn-link btn">Logout</button>
                    </form>
                </li>
                <li sec:authorize="isAuthenticated()" th:text="${#authentication.principal.username}">

                </li>
            </ul>


            <ul id="nav-mobile" class="side-nav">
                <li><a href="/login">Login</a></li>
                <li><a href="@{/sign-up}">Register</a></li>
                <li>
                    <!--<form th:action="@{/logout}" th:method="post">-->
                        <!--&lt;!&ndash;<button class="btn-link btn" style="margin-top: 8px">Logout</button>&ndash;&gt;-->
                        <div sec:authorize="isAuthenticated()">
                            <button th:href="@{/logout}" class="btn-link btn">Log out</button>
                        </div>
                    <!--</form>-->

                </li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
        <!--<div sec:authorize="isAuthenticated()">-->
            <!--<a th:href="@{/logout}">Log out</a>-->
        <!--</div>-->
        <!--<div sec:authorize="isAnonymous()">-->
            <!--<a th:href="@{/login}">Log in</a>-->
            <!--<a th:href="@{/sign-up}">Register</a>-->
        <!--</div>-->
    </nav>


</body>
</html>