<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>

    <!--<div th:fragment="nav">-->
    <nav th:fragment="nav" class="white" role="navigation">

        <div class="nav-wrapper container">
            <a id="logo-container" href="/" class="brand-logo">  <img class="logo" src="/img/nav.svg"/></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/login" class="modal-trigger modal-close">Login</a></li>
                <!-- Modal Structure -->
                <div id="modal1" class="modal">
                    <div class="modal-content">
                        <h4>Modal Header</h4>
                        <p>A bunch of text</p>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
                    </div>
                </div>
                <li><a href="/sign-up" class="#">Register</a></li>
                <li><a href="/#" class="modal-trigger modal-close">Food Items</a></li>
                <li><a href="/#" class="modal-trigger modal-close">Recipes</a></li>

                <li>
                    <form th:action="@{/logout}" th:method="post">
                        <button class="btn-link btn">Logout</button>
                    </form>
                </li>
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li><a href="/login">Login</a></li>
                <li><a href="/sign-up">Register</a></li>
                <li>
                    <form th:action="@{/logout}" th:method="post">
                        <button class="btn-link btn" style="margin-top: 8px">Logout</button>
                    </form>
                </li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>


</body>
</html>