<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>

    <!--<div th:fragment="nav">-->
    <nav th:fragment="nav" class="white" role="navigation">

        <div class="nav-wrapper container">
            <a id="logo-container" href="/" class="brand-logo">  <img class="logo" src="/img/nav.svg"/></a>
            <ul class="right hide-on-med-and-down">
                <!-- Login Modal Structure -->
                <div id="modal1" class="modal">
                    <div class="modal-content">
                        <div class="container">
                            <div class="section">
                                <div class="row">
                                    <div class="col s12 m12">
                                        <h4>Log In</h4>
                                        <div th:if="${param.error}">
                                            Invalid Username and Password.
                                        </div>
                                        <div th:if="${param.logout}">
                                            You have been logged out.
                                        </div>
                                        <form th:action="@{/login}" method="post">
                                            <div class="input-field">
                                                <input placeholder="Enter Username" id="username" name="username" type="text" />
                                                <label for="username">Username</label>
                                            </div>
                                            <div class="input-field">
                                                <input placeholder="Enter Password" id="password" name="password" type="password" />
                                                <label for="password">Password</label>
                                            </div>
                                            <div class="center-align">
                                                <input type="submit" class="modal-action modal-close btn-flat" value="Log In" />
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end of modal -->

                <!--Register Modal Structure -->
                <div id="modal2" class="modal">
                    <div class="modal-content">
                        <div class="container">
                            <div class="section">
                                <div class="row">
                                    <div class="col s12 m12">
                                        <h4>Register</h4>

                                        <div th:if="${param.error}">
                                            Invalid Username and Password.
                                        </div>
                                        <div th:if="${param.logout}">
                                            You have been logged out.
                                        </div>

                                        <form th:action="@{/sign-up}" method="POST">
                                            <div class="input-field">
                                                <input id="usernameReg" type="text" name="username" />
                                                <label for="usernameReg">Username</label>
                                            </div>
                                            <div class="input-field">
                                                <input id="email" type="email" name="email" />
                                                <label for="email">Email</label>
                                            </div>
                                            <div class="input-field">
                                                <input id="firstname" type="text" name="firstName"/>
                                                <label for="firstname">Firstname</label>
                                            </div>
                                            <div class="input-field">
                                                <input id="lastname" type="text" name="lastName"/>
                                                <label for="lastname">Lastname</label>
                                            </div>
                                            <div class="input-field">
                                                <input id="passwordReg" type="password" name="password" />
                                                <label for="passwordReg">Password</label>
                                            </div>
                                            <div class="center-align">
                                                <input value="Register" class="modal-action modal-close btn-flat" type="submit" />
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- end of modal -->

                <li sec:authorize="!isAuthenticated()"><a class="waves-effect waves-light modal-trigger" href="#modal1">Login</a></li>
                <li sec:authorize="isAnonymous()"><a class="waves-effect waves-light modal-trigger" href="#modal2">Register</a></li>
                <li sec:authorize="isAnonymous()"><a class="waves-effect waves-light" href="#">About</a></li>
                <li sec:authorize="isAuthenticated()"><a class="waves-effect waves-light" th:href="@{/dashboard}">Dashboard</a></li>
                <li sec:authorize="isAuthenticated()"><a class="waves-effect waves-light" th:href="@{/macro/inventory}">Macros</a></li>

                <li><a sec:authorize="isAuthenticated()" th:href="@{/food-item/inventory}" class="modal-trigger modal-close">Food Items</a></li>
                <li><a sec:authorize="isAuthenticated()" th:href="@{/recipe/inventory}" class="modal-trigger modal-close">Recipes</a></li>
                <li sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" th:method="post">
                        <button class="waves-effect waves-light btn-flat nav-logout">Logout</button>
                    </form>
                </li>
                <li sec:authorize="isAuthenticated()" th:text="${#authentication.principal.username}">

                </li>
            </ul>

            <ul id="nav-mobile" class="side-nav"><!--mobile nav view-->
                <li sec:authorize="!isAuthenticated()"><a class="waves-effect waves-light modal-trigger" href="/login">Login</a></li>
                <li sec:authorize="isAnonymous()"><a class="waves-effect waves-light modal-trigger" href="@{/sign-up}">Register</a></li>
                <li><a sec:authorize="isAuthenticated()" th:href="@{/logout}">Log out</a></li>
                <li sec:authorize="isAnonymous()"><a class="waves-effect waves-light" th:href="@{/about}">About</a></li>
                <li sec:authorize="isAuthenticated()"><a class="waves-effect waves-light" th:href="@{/about}">About</a></li>
                <li sec:authorize="isAuthenticated()"><a class="waves-effect waves-light" th:href="@{/dashboard}">Dashboard</a></li>
                <li sec:authorize="isAuthenticated()"><a class="waves-effect waves-light" th:href="@{/macro/inventory}">Macros</a></li>
                <li><a sec:authorize="isAuthenticated()" th:href="@{/food-item/inventory}" class="modal-trigger modal-close">Food Items</a></li>
                <li><a sec:authorize="isAuthenticated()" th:href="@{/recipe/inventory}" class="modal-trigger modal-close">Recipes</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>


</body>
</html>