<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="fragments/file-header-fragment :: head-partial('Login Page')"></head>
<body>



<nav th:replace="fragments/nav :: nav"></nav>

<h1>Create an account</h1>
    <form th:action="@{/sign-up}" method="POST" th:object="${user}">
        <label for="username">Username</label>
        <input id="username" th:field="*{username}" />

        <label for="email">Email</label>
        <input id="email" th:field="*{email}" />

        <label for="firstname">Firstname</label>
        <input id="firstname" th:field="*{firstname}"/>

        <label for="lastname">Lastname</label>
        <input id="lastname" th:field="*{lastname}"/>

        <label for="password">Password</label>
        <input id="password" type="password" th:field="*{password}" />


        <input value="Sign me up!" type="submit" />
    </form>



<div th:replace="fragments/js-footer-fragment :: js-partial"></div>
</body>
</html>