<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="fragments/file-header-fragment :: head-partial('MakTrak | Home Page')"></head>
<body>

<div th:replace="fragments/nav :: nav"></div>


<!-- hero section -->
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br/><br/>
            <img src="/img/hero-logo.png" class="center-logo" alt="maktrak logo"/>
            <br /><br/>
        </div>
    </div>
    <div class="parallax img_overlay"><img src="/img/home-food.jpg" alt="home food"/></div>
</div>




<!-- feature section -->
    <div class="container">
        <div class="section">
            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                        <h5 class="center">Track your macro nutrients</h5>

                        <p class="light">Using our fancy macro tracking feature, you'll be able to input your macro nutrient goals.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                        <h5 class="center">Recipe tracking</h5>

                        <p class="light">Using our recipe tracking feature, you'll be able to input your favorite recipes, and based on your macro nutrient goals you can adjust your ingredients.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                        <h5 class="center">Easy to use</h5>

                        <p class="light">We've taken the stress out of having multiple recipe calorie tracking apps, and keeping up with annoying excel spreadsheets. </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

<!-- testimonial section -->
    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                </div>
            </div>
        </div>
        <div class="parallax"><img src="/img/background2.jpg" alt="Unsplashed background img 2" /></div>
    </div>

<!-- contact us -->
    <div class="container">
        <div class="section">

            <div class="row">
                <div class="col s12 center">
                    <h3><i class="mdi-content-send brown-text"></i></h3>
                    <h4>Testimonial</h4>
                    <p class="center-align light">"This app is super easy to use, I recommend it to all my friends! 10/10!"</p>
                    <p class="center-align light">- Someone at Codeup</p>

                </div>
            </div>

        </div>
    </div>



<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/js-footer-fragment :: js-partial"></div>
</body>
</html>