<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="fragments/file-header-fragment :: head-partial('MakTrak | Welcome')"></head>

<body class="text-center">

    <!--<div class="homepage-hero-module">-->


    <!--</div>-->
    <div class="container landing-cover-container">
        <div role="main" class="inner cover">
            <!--<div class="filter"></div>-->
            <div class="section center-align">
                <div class="hero-text">
                    <h1 class="center-align hero-text">MakTrak</h1>
                    <p class="center-align sub-text">A micro nutrient tracking web application</p>
                    <p class="center-align">
                        <a th:href="@{/}" class="btn btn-lg">Go To MakTrak</a>
                    </p>
                </div>
                <video autoplay="autoplay" loop="loop" class="fillWidth video-center">
                    <source src="img/MP4/Night-BBQ.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
                    <source src="img/WEBM/Night-BBQ.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
                </video>
            </div>
        </div>
    </div>

</body>

</html>