<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="fragments/file-header-fragment :: head-partial('Login Page')"></head>
<body>
    <div th:replace="fragments/nav :: nav"></div>
    <div class="row">
        <div th:if="${mode == 'add'}">
            <h1>Add Inventory Food Item</h1>
            <form th:action="@{/food-item/create}" method="post" th:object="${item}" class="col s6 offset-s3">
                <input type="hidden" th:field="*{id}"/>
                <div class="row">
                    <div class="col s12">
                        <div class="input-field">
                            <input id="name-add" type="text" class="validate" th:field="*{name}"/>
                            <label for="name-add">Item Name</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <div class="input-field">
                            <input id="calories-add" type="text" class="validate" th:field="*{cal}"/>
                            <label for="calories-add">Calories</label>
                        </div>
                    </div>
                    <div class="col s6">
                        <div class="input-field">
                            <input id="serving-add" type="text" class="validate" th:field="*{servingSizeInGrams}"/>
                            <label for="serving-add">Serving Size (g)</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <div class="input-field">
                            <input id="proteins-add" type="text" class="validate" th:field="*{prot}"/>
                            <label for="proteins-add">Protein</label>
                        </div>
                    </div>
                    <div class="col s6">
                        <div class="input-field">
                            <input id="carbohydrates-add" type="text" class="validate" th:field="*{carb}"/>
                            <label for="carbohydrates-add">Carbohydrate</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <div class="input-field">
                            <input id="fats-add" type="text" class="validate" th:field="*{fat}"/>
                            <label for="fats-add">Fat</label>
                        </div>
                    </div>
                    <div class="col s6">
                        <div class="input-field">
                            <input id="fiber-add" type="text" class="validate" th:field="*{fiber}"/>
                            <label for="fiber-add">Fiber</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <div class="input-field">
                            <input id="quantity-add" type="text" class="validate" name="quantity"/>
                            <label for="quantity-add">Quantity</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                    <div class="col s6">
                        <a class="waves-effect waves-teal btn-flat">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
        <div th:if="${mode == 'edit'}">
            <h1>Edit Inventory Food Item</h1>
            <form th:action="@{/food-item/edit/{id}(id=${item.id})}" method="post" th:object="${item}" class="col s6 offset-s3">
                <input type="hidden" th:field="*{id}"/>
                <div class="row">
                    <div class="col s12">
                        <div class="input-field">
                            <input id="name-edit" type="text" class="validate" th:field="*{name}"/>
                            <label for="name-edit">Item Name</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <div class="input-field">
                            <input id="calories-edit" type="text" class="validate" th:field="*{cal}"/>
                            <label for="calories-edit">Calories</label>
                        </div>
                    </div>
                    <div class="col s6">
                        <div class="input-field">
                            <input id="serving-edit" type="text" class="validate" th:field="*{servingSizeInGrams}"/>
                            <label for="serving-edit">Serving Size (g)</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <div class="input-field">
                            <input id="proteins-edit" type="text" class="validate" th:field="*{prot}"/>
                            <label for="proteins-edit">Protein</label>
                        </div>
                    </div>
                    <div class="col s6">
                        <div class="input-field">
                            <input id="carbohydrates-edit" type="text" class="validate" th:field="*{carb}"/>
                            <label for="carbohydrates-edit">Carbohydrate</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <div class="input-field">
                            <input id="fats-edit" type="text" class="validate" th:field="*{fat}"/>
                            <label for="fats-edit">Fat</label>
                        </div>
                    </div>
                    <div class="col s6">
                        <div class="input-field">
                            <input id="fiber-edit" type="text" class="validate" th:field="*{fiber}"/>
                            <label for="fiber-edit">Fiber</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <div class="input-field">
                            <input id="quantity-edit" type="text" class="validate" name="quantity" th:value="${quantity}"/>
                            <label for="quantity-edit">Quantity</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                    <div class="col s6">
                        <a class="waves-effect waves-teal btn-flat">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
    <div th:replace="fragments/js-footer-fragment :: js-partial"></div>
</body>
</html>