<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="fragments/file-header-fragment :: head-partial('Create/Edit Food Item')"></head>
<body>
    <div th:replace="fragments/nav :: nav"></div>

    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br/><br/>
                <div th:if="${mode == 'add'}">
                    <h1 class="center-align">Add a food item</h1>
                    <p class="center-align">Enter food name, and micro nutrient data, and how many below!</p>
                </div>
                <div th:if="${mode == 'edit'}">
                    <h1 class="center-align">Edit a food item</h1>
                    <p class="center-align">Enter food name, and micro nutrient data, and how many below!</p>
                </div>

                <br /><br/>
            </div>
        </div>
        <div class="parallax img_overlay"><img src="/img/add-food-item.png" alt="home food"/></div>
    </div>

    <br/>
    <br/>

    <div class="row">
        <div th:if="${mode == 'add'}">
            <br/>
            <div th:if="${redirect == 'macroCreate'}">
                <form th:action="@{/macro/create/food-item/create}" method="post" th:object="${item}" class="col s6 offset-s3">
                    <input type="hidden" th:field="*{id}"/>
                    <p class="center-align" th:text="${error}"></p>
                    <div class="row">
                        <div class="col s12">
                            <div class="input-field">
                                <input id="name-add" type="text" class="validate" required="" aria-required="true" th:field="*{name}"/>
                                <label for="name-add">Item Name</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <div class="input-field">
                                <input id="calories-add" type="text" class="validate" required="" aria-required="true" th:field="*{cal}"/>
                                <label for="calories-add">Calories</label>
                            </div>
                        </div>
                        <div class="col s6">
                            <div class="input-field">
                                <input id="serving-add" type="text" class="validate" required="" aria-required="true" th:field="*{servingSizeInGrams}"/>
                                <label for="serving-add">Serving Size (g)</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <div class="input-field">
                                <input id="proteins-add" type="text" class="validate" th:field="*{prot}"/>
                                <label for="proteins-add">Protein</label>
                            </div>
                        </div>
                        <div class="col s6">
                            <div class="input-field">
                                <input id="carbohydrates-add" type="text" class="validate" th:field="*{carb}"/>
                                <label for="carbohydrates-add">Carbohydrate</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <div class="input-field">
                                <input id="fats-add" type="text" class="validate" th:field="*{fat}"/>
                                <label for="fats-add">Fat</label>
                            </div>
                        </div>
                        <div class="col s6">
                            <div class="input-field">
                                <input id="fiber-add" type="text" class="validate" th:field="*{fiber}"/>
                                <label for="fiber-add">Fiber</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <div class="input-field">
                                <input id="quantity-add" type="text" class="validate" name="quantity"/>
                                <label for="quantity-add">Quantity</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s3">
                            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                        <div class="col s3">
                            <a th:href="@{/macro/create}" class="waves-effect waves-teal btn-flat orange darken-2">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
            <div th:if="${redirect == 'macroEdit'}">
                <form th:action="@{/macro/edit/food-item/create}" method="post" th:object="${item}" class="col s6 offset-s3">
                    <input type="hidden" name="macroId" th:value="${macroId}"/>
                    <p class="center-align" th:text="${error}"></p>
                    <div class="row">
                        <div class="col s12">
                            <div class="input-field">
                                <input id="name-add" type="text" class="validate" required="" aria-required="true" th:field="*{name}"/>
                                <label for="name-add">Item Name</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <div class="input-field">
                                <input id="calories-add" type="text" class="validate" required="" aria-required="true" th:field="*{cal}"/>
                                <label for="calories-add">Calories</label>
                            </div>
                        </div>
                        <div class="col s6">
                            <div class="input-field">
                                <input id="serving-add" type="text" class="validate" required="" aria-required="true" th:field="*{servingSizeInGrams}"/>
                                <label for="serving-add">Serving Size (g)</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <div class="input-field">
                                <input id="proteins-add" type="text" class="validate" th:field="*{prot}"/>
                                <label for="proteins-add">Protein</label>
                            </div>
                        </div>
                        <div class="col s6">
                            <div class="input-field">
                                <input id="carbohydrates-add" type="text" class="validate" th:field="*{carb}"/>
                                <label for="carbohydrates-add">Carbohydrate</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <div class="input-field">
                                <input id="fats-add" type="text" class="validate" th:field="*{fat}"/>
                                <label for="fats-add">Fat</label>
                            </div>
                        </div>
                        <div class="col s6">
                            <div class="input-field">
                                <input id="fiber-add" type="text" class="validate" th:field="*{fiber}"/>
                                <label for="fiber-add">Fiber</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <div class="input-field">
                                <input id="quantity-add" type="text" class="validate" name="quantity"/>
                                <label for="quantity-add">Quantity</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s3">
                            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                        <div class="col s3">
                            <a th:href="@{/macro/edit/{id}(id=${macroId})}" class="waves-effect waves-teal btn-flat orange darken-2">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
            <div th:if="${redirect == 'recipeCreate'}">
                <form th:action="@{/recipe/create/food-item/create}" method="post" th:object="${item}" class="col s6 offset-s3">
                    <input type="hidden" th:field="*{id}"/>
                    <p class="center-align" th:text="${error}"></p>
                    <div class="row">
                        <div class="col s12">
                            <div class="input-field">
                                <input id="name-add" type="text" class="validate" required="" aria-required="true" th:field="*{name}"/>
                                <label for="name-add">Item Name</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <div class="input-field">
                                <input id="calories-add" type="text" class="validate" required="" aria-required="true" th:field="*{cal}"/>
                                <label for="calories-add">Calories</label>
                            </div>
                        </div>
                        <div class="col s6">
                            <div class="input-field">
                                <input id="serving-add" type="text" class="validate" required="" aria-required="true" th:field="*{servingSizeInGrams}"/>
                                <label for="serving-add">Serving Size (g)</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <div class="input-field">
                                <input id="proteins-add" type="text" class="validate" th:field="*{prot}"/>
                                <label for="proteins-add">Protein</label>
                            </div>
                        </div>
                        <div class="col s6">
                            <div class="input-field">
                                <input id="carbohydrates-add" type="text" class="validate" th:field="*{carb}"/>
                                <label for="carbohydrates-add">Carbohydrate</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <div class="input-field">
                                <input id="fats-add" type="text" class="validate" th:field="*{fat}"/>
                                <label for="fats-add">Fat</label>
                            </div>
                        </div>
                        <div class="col s6">
                            <div class="input-field">
                                <input id="fiber-add" type="text" class="validate" th:field="*{fiber}"/>
                                <label for="fiber-add">Fiber</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <div class="input-field">
                                <input id="quantity-add" type="text" class="validate" name="quantity"/>
                                <label for="quantity-add">Quantity</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s3">
                            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                        <div class="col s3">
                            <a th:href="@{/recipe/create}" class="waves-effect waves-teal btn-flat orange darken-2">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
            <div th:if="${redirect == 'recipeEdit'}">
                <form th:action="@{/recipe/edit/food-item/create}" method="post" th:object="${item}" class="col s6 offset-s3">
                    <input type="hidden" name="recipeId" th:value="${recipeId}"/>
                    <p class="center-align" th:text="${error}"></p>
                    <div class="row">
                        <div class="col s12">
                            <div class="input-field">
                                <input id="name-add" type="text" class="validate" required="" aria-required="true" th:field="*{name}"/>
                                <label for="name-add">Item Name</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <div class="input-field">
                                <input id="calories-add" type="text" class="validate" required="" aria-required="true" th:field="*{cal}"/>
                                <label for="calories-add">Calories</label>
                            </div>
                        </div>
                        <div class="col s6">
                            <div class="input-field">
                                <input id="serving-add" type="text" class="validate" required="" aria-required="true" th:field="*{servingSizeInGrams}"/>
                                <label for="serving-add">Serving Size (g)</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <div class="input-field">
                                <input id="proteins-add" type="text" class="validate" th:field="*{prot}"/>
                                <label for="proteins-add">Protein</label>
                            </div>
                        </div>
                        <div class="col s6">
                            <div class="input-field">
                                <input id="carbohydrates-add" type="text" class="validate" th:field="*{carb}"/>
                                <label for="carbohydrates-add">Carbohydrate</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <div class="input-field">
                                <input id="fats-add" type="text" class="validate" th:field="*{fat}"/>
                                <label for="fats-add">Fat</label>
                            </div>
                        </div>
                        <div class="col s6">
                            <div class="input-field">
                                <input id="fiber-add" type="text" class="validate" th:field="*{fiber}"/>
                                <label for="fiber-add">Fiber</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <div class="input-field">
                                <input id="quantity-add" type="text" class="validate" name="quantity"/>
                                <label for="quantity-add">Quantity</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s3">
                            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                        <div class="col s3">
                            <a th:href="@{/recipe/edit/{id}(id=${recipeId})}" class="waves-effect waves-teal btn-flat orange darken-2">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
            <div th:if="${redirect == 'none'}">
                <form th:action="@{/food-item/create}" method="post" th:object="${item}" class="col s6 offset-s3">
                    <input type="hidden" th:field="*{id}"/>
                    <p class="center-align" th:text="${error}"></p>
                    <div class="row">
                        <div class="col s12">
                            <div class="input-field">
                                <input id="name-add" type="text" class="validate" required="" aria-required="true" th:field="*{name}"/>
                                <label for="name-add">Item Name</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <div class="input-field">
                                <input id="calories-add" type="text" class="validate" required="" aria-required="true" th:field="*{cal}"/>
                                <label for="calories-add">Calories</label>
                            </div>
                        </div>
                        <div class="col s6">
                            <div class="input-field">
                                <input id="serving-add" type="text" class="validate" required="" aria-required="true" th:field="*{servingSizeInGrams}"/>
                                <label for="serving-add">Serving Size (g)</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <div class="input-field">
                                <input id="proteins-add" type="text" class="validate" th:field="*{prot}"/>
                                <label for="proteins-add">Protein</label>
                            </div>
                        </div>
                        <div class="col s6">
                            <div class="input-field">
                                <input id="carbohydrates-add" type="text" class="validate" th:field="*{carb}"/>
                                <label for="carbohydrates-add">Carbohydrate</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <div class="input-field">
                                <input id="fats-add" type="text" class="validate" th:field="*{fat}"/>
                                <label for="fats-add">Fat</label>
                            </div>
                        </div>
                        <div class="col s6">
                            <div class="input-field">
                                <input id="fiber-add" type="text" class="validate" th:field="*{fiber}"/>
                                <label for="fiber-add">Fiber</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <div class="input-field">
                                <input id="quantity-add" type="text" class="validate" name="quantity"/>
                                <label for="quantity-add">Quantity</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s3">
                            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                        <div class="col s3">
                            <a th:href="@{/food-item/inventory}" class="waves-effect waves-teal btn-flat orange darken-2">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div th:if="${mode == 'edit'}">
            <br/>
            <form th:action="@{/food-item/edit/{id}(id=${item.id})}" method="post" th:object="${item}" class="col s6 offset-s3">
                <input type="hidden" th:field="*{id}"/>
                <p class="center-align" th:text="${error}"></p>
                <div class="row">
                    <div class="col s12">
                        <div class="input-field">
                            <input id="name-edit" type="text" class="validate" th:field="*{name}"/>
                            <label for="name-edit">Item Name</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <div class="input-field">
                            <input id="calories-edit" type="text" class="validate" th:field="*{cal}"/>
                            <label for="calories-edit">Calories</label>
                        </div>
                    </div>
                    <div class="col s6">
                        <div class="input-field">
                            <input id="serving-edit" type="text" class="validate" th:field="*{servingSizeInGrams}"/>
                            <label for="serving-edit">Serving Size (g)</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <div class="input-field">
                            <input id="proteins-edit" type="text" class="validate" th:field="*{prot}"/>
                            <label for="proteins-edit">Protein</label>
                        </div>
                    </div>
                    <div class="col s6">
                        <div class="input-field">
                            <input id="carbohydrates-edit" type="text" class="validate" th:field="*{carb}"/>
                            <label for="carbohydrates-edit">Carbohydrate</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <div class="input-field">
                            <input id="fats-edit" type="text" class="validate" th:field="*{fat}"/>
                            <label for="fats-edit">Fat</label>
                        </div>
                    </div>
                    <div class="col s6">
                        <div class="input-field">
                            <input id="fiber-edit" type="text" class="validate" th:field="*{fiber}"/>
                            <label for="fiber-edit">Fiber</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <div class="input-field">
                            <input id="quantity-edit" type="text" class="validate" name="quantity" th:value="${quantity}"/>
                            <label for="quantity-edit">Quantity</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <button class="btn waves-effect waves-light center-align" type="submit" name="action">Submit
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col s3 offset-s3">
                    <form th:action="@{/food-item/delete/{id}(id=${item.id})}" method="post">
                        <button class="btn waves-effect waves-light red darken-2" type="submit" name="action">Delete
                            <i class="material-icons right">delete</i>
                        </button>
                    </form>
                </div>
                <div class="col s3">
                    <div th:if="${redirect == 'macroCreate'}">
                        <a th:href="@{/macro/create}" class="waves-effect waves-teal btn-flat orange darken-2">Cancel</a>
                    </div>
                    <div th:if="${redirect == 'macroEdit'}">
                        <a th:href="@{/macro/create}" class="waves-effect waves-teal btn-flat orange darken-2">Cancel</a>
                    </div>
                    <div th:if="${redirect == 'recipeCreate'}">
                        <a th:href="@{/recipe/create}" class="waves-effect waves-teal btn-flat orange darken-2">Cancel</a>
                    </div>
                    <div th:if="${redirect == 'recipeEdit'}">
                        <a th:href="@{/recipe/edit/{id}(id=${recipeId})}" class="waves-effect waves-teal btn-flat orange darken-2">Cancel</a>
                    </div>
                    <div th:if="${redirect == 'none'}">
                        <a th:href="@{/food-item/inventory}" class="waves-effect waves-teal btn-flat orange darken-2">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
    <div th:replace="fragments/js-footer-fragment :: js-partial"></div>
</body>
</html>